/* /Layout/MainLayout.razor.rz.scp.css */
/* Estilo para la barra superior */
.top-navbar[b-9r8i1o7tdg] {  
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(228, 224, 9, 0.867);
}

.navbar-left[b-9r8i1o7tdg] {
    display: flex;
    align-items: center;
}

.menu-icon[b-9r8i1o7tdg] {
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 0 10px;
}

.menu-icon:hover.sidebar[b-9r8i1o7tdg] {
    display: block;
    /* Despliega el menú lateral cuando se pasa el mouse */
}

/* Estilo para el nombre de la tienda */
.store-name a[b-9r8i1o7tdg] {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 10px;
}

.navbar-center[b-9r8i1o7tdg] {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-bar[b-9r8i1o7tdg] {
    width: 100%;
    max-width: 300px;
    padding: 0.3rem;
    border-radius: 4px;
    border: none;
}

/* Estilo para los iconos a la derecha */
.navbar-right[b-9r8i1o7tdg] {
    display: flex;
    gap: 10px;
}

.icon[b-9r8i1o7tdg] {
    color: white;
    font-size: 20px;
    cursor: pointer;
    padding: 0 10px;
}

.icon:hover[b-9r8i1o7tdg] {
    color: #ddd;
}

/* Menú lateral oculto por defecto */
#sidebar[b-9r8i1o7tdg]{
    
}
.sidebar[b-9r8i1o7tdg] {
    position: fixed;
    left: 0;
    top: 50px;
    /* Debajo de la barra de navegación */
    width: 250px;
    height: 100%;
    background: linear-gradient(135deg, #FF6F00 0%, #FFB74D 100%);
    padding-top: 10px;
    display: none;
    /* Oculto inicialmente */
}

.sidebar nav a[b-9r8i1o7tdg] {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.sidebar nav a:hover[b-9r8i1o7tdg] {
    background-color: #495057;
    background: linear-gradient(135deg, #FF6F00 0%, #FFB74D 100%);
        /* Naranja Vivo a Naranja Claro */
}

/* Asegura que el contenido no quede oculto detrás de la barra superior fija */
main[b-9r8i1o7tdg] {
    padding-top: 60px;
    flex: 1;
}

/* Responsiveness - Media Queries */

/* Pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .navbar-center[b-9r8i1o7tdg] {
        display: none;
        /* Ocultar el buscador en pantallas pequeñas */
    }
}

/* Pantallas medianas (tabletas) */
@media (min-width: 769px) and (max-width: 1024px) {
    .search-bar[b-9r8i1o7tdg] {
        width: 200px;
        /* Ajustar el tamaño del buscador en tabletas */
    }
}

/* Pantallas grandes (desktop) */
@media (min-width: 1025px) {
    .search-bar[b-9r8i1o7tdg] {
        width: 300px;
    }
}
.page[b-9r8i1o7tdg] {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
/*Color de Menu principal*/
.top-navbar[b-9r8i1o7tdg] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF6F00;
    
    color: #ffffff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.sidebar[b-9r8i1o7tdg] {
    position: fixed;
    left: 0;
    top: 50px;
    width: 250px;
    height: calc(100% - 50px);
    background-color: #343a40;
    padding-top: 10px;
    display: none;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.sidebar.visible[b-9r8i1o7tdg] {
    display: block;
    transform: translateX(0);
}

main[b-9r8i1o7tdg] {
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

.sidebar.visible~main[b-9r8i1o7tdg] {
    margin-left: 250px;
}
/* Estilos para los iconos en la barra de navegación */
.navbar-right[b-9r8i1o7tdg] {
    margin-right: 20px;
    /* Espacio adicional a la derecha */
}

.navbar-right .icon[b-9r8i1o7tdg] {
    margin-left: 20px;
    /* Espaciado entre íconos */
    font-size: 1.5rem;
    /* Tamaño de los íconos */
    cursor: pointer;
    /* Muestra que el icono es clicable */
}

.navbar-right .icon:hover[b-9r8i1o7tdg] {
    color: #0071c1;
    /* Color al pasar el ratón */
}
/* /Layout/NavMenu/NavMenu.razor.rz.scp.css */

/*Caracteristicas del Menu Desplegable de la Iquierda*/
/*Caracteristicas bi importantes para que se muestre de esa forma el desplegable*/
.bi[b-we8f86x4qh] {
    display: inline-block; /* Hace que el elemento se comporte como un bloque en línea */
    position: relative; /* Posiciona el elemento de manera relativa a su posición original */
    width: 1.25rem; /* Establece el ancho del ícono */
    height: 1.25rem; /* Establece la altura del ícono */
    margin-right: 0.75rem; /* Añade un margen a la derecha */
    top: -1px; /* Mueve el ícono hacia arriba por 1px */
    background-size: cover; /* Asegura que la imagen de fondo cubra todo el contenedor */
}
/*Los iconos de cada opcion del desplegable*/
.bi-house-door-fill-nav-menu[b-we8f86x4qh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-we8f86x4qh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-we8f86x4qh] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-we8f86x4qh] {
    font-size: 0.9rem; /* Tamaño de la fuente */
    padding-bottom: 0.5rem; /* Espacio inferior de cada ítem */
}

    .nav-item:first-of-type[b-we8f86x4qh] {/*indica que el primer item tiene ese espacio*/
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-we8f86x4qh] {/*indica que el ultimo item tiene ese espacio*/
        padding-bottom: 1rem;
    }

    .nav-item[b-we8f86x4qh]  a {/*descripcion de los iconos*/    
        color: white !important; /* Forzamos el color blanco */
        border-radius: 4px; /* Bordes redondeados */
        height: 3rem; /* Altura fija de cada ítem */
        display: flex; /* Flexbox para alinear el contenido */
        align-items: center; /* Alineación vertical centrada */
        line-height: 3rem; /* Controla la altura de línea para alinear verticalmente el texto */
    }


.nav-item[b-we8f86x4qh]  a:hover {
    background: linear-gradient(135deg, #ff0000 0%, #FFB74D 100%);
    color: white !important; /* Asegura que el texto siga siendo blanco en hover */
}

@media (min-width: 641px) {
    .navbar-toggler[b-we8f86x4qh] {
        display: none;/* Oculta el botón del menú en pantallas grandes */
    }

    .collapse[b-we8f86x4qh] {
        display: block;/* Asegura que el menú siempre esté desplegado en pantallas grandes */
    }
    
    .nav-scrollable[b-we8f86x4qh] {
        height: calc(100vh - 3.5rem);/* Hace que el menú ocupe el 100% de la altura de la pantalla, menos 3.5rem */
        overflow-y: auto;/* Permite desplazamiento si el menú es muy alto */
    }
}
