/* Estilos generales para el contenedor de la página */
.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

/* Estilos para la barra de navegación superior */
.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Estilos para el menú lateral */
.sidebar {
    position: fixed;
    left: 0;
    top: 50px;
    width: 250px;
    height: calc(100% - 50px);
    background-color: #343a40;
    padding-top: 10px;
    display: none;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

/* Cuando el menú está visible */
.sidebar.visible {
    display: block;
    transform: translateX(0);
}

/* Ajuste del contenido principal cuando el menú está visible */
main {
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

.sidebar.visible~main {
    margin-left: 250px;
}

/* Estilos para el botón primario */
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Estilo para el enfoque de los botones y formularios */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: none;
}

/* Estilo para los mensajes de validación */
.valid.modified:not([type=checkbox]) {
    outline: none;
}

.invalid {
    outline: none;
}

.validation-message {
    color: red;
}

/* Elimina cualquier borde o outline que pueda estar aplicándose al contenedor */
.page * {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Asegúrate de que los encabezados no tengan borde ni outline */
h1,
h2,
h3,
h4,
h5,
h6 {
    border: none;
    outline: none;
    box-shadow: none;
}

/* Estilo para el código */
code {
    color: #c02d76;
}