/* Estilos generales para el contenedor de la página */
.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}
/* Estilos para el menú lateral */
.sidebar {
    position: fixed;
    left: 0;
    top: 50px;
    width: 250px;
    height: calc(100% - 50px);
    background-color: white;
    background: #c1cfde;
    padding-top: 10px;
    display: none;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

/* Cuando el menú está visible */
.sidebar.visible {
    background-color: white;
    background: #c1cfde;
    display: block;
    transform: translateX(0);
}

/* Ajuste del contenido principal cuando el menú está visible */
main {
    margin-left: 0;
    transition: margin-left 0.3s ease;
}

.sidebar.visible~main {
    margin-left: 250px;
}

/* Estilos para el botón primario */
.btn-primary {
    color: #fff;
    background-color: #c1cfde;
    border-color: #c0cad3;
}

/* Estilo para el enfoque de los botones y formularios */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: none;
}

/* Estilo para los mensajes de validación */
.valid.modified:not([type=checkbox]) {
    outline: none;
}

.invalid {
    outline: none;
}

.validation-message {
    color: red;
}

/* Elimina cualquier borde o outline que pueda estar aplicándose al contenedor */
.page * {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Asegúrate de que los encabezados no tengan borde ni outline */
h1,
h2,
h3,
h4,
h5,
h6 {
    border: none;
    outline: none;
    box-shadow: none;
}

/* Estilo para el código */
code {
    color: #c02d76;
}